/*font-family: Kanit*/
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --fondo1: #f5f5f4;
  --fondo2: #ececeb;
  --fondo3: #a6a7a1;
  --tarjeta: #cbccc3;
  --boton1: #f5a031;
  --boton2: #f8d3a2;
  --negro: #1d1b1a;
}
main .header-pagina {
  height: 250px;
}
.header-img1,
.header-img2 {
  position: absolute;
  height: 250px;
}
.header-img1 {
  left: 0;
}
.header-img2 {
  right: 0;
}

.button-size {
  height: 40px;
  width: 70px;
}

.button-color {
  border-radius: 10px;
  height: 20px;
  width: 20px;
}

input {
  width: 70px;
}

.filter-card {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #1e1e1e33;
}
