:root {
    --fondo1: #f5f5f4;
    --fondo2: #ececeb;
    --fondo3: #a6a7a1;
    --tarjeta: #cbccc3;;
    --boton1: #f7a842;
    --boton2: #f8d3a2;
}
* {
    margin: 0;
    text-decoration: none;
}
a {
    color: inherit;
}
.boton-main {
    height: fit-content;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background: var(--boton1);
}
.boton-sub {

}
.navbar-nav {
    justify-items: center;
    align-items: center;
}
.navbar-brand {
    margin-right: 15px;
}
.nav-link {
    margin: 0;
    padding: 8px;
}
#carousel {
    max-height: 430px; 
    overflow:hidden;
}
.carousel-item img {
    width: 100%; 
    height: fit-content;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
/*Página de Producto*/
.producto-main {
    max-width: 1040px;
    justify-content: center;
    gap: 5vw;
    margin: 25px auto;
    padding: 10px;
}
.producto-img-main {
    height: 400px;
    width: 400px;
    object-fit: contain;
    background-color: white;
    border-radius: 4px;
}
.producto-imagenes {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.producto-img-side {
    justify-content: space-evenly;
}
.producto-img-side img {
    height: 90px;
    width: 90px;
    object-fit: contain;
    background-color: white;
    opacity: 0.5;
    border: 1px solid var(--fondo3);
    border-radius: 4px;
    transition: 0.1s ease-in-out;
}
.producto-img-side img:hover {
    opacity: 1;
}
.producto-side {
    margin: auto;
}
.producto-titulo, .producto-precio {
    margin-bottom: 15px;
}
.producto-opciones {
    margin: 10px 0;
    border-top: 1px solid var(--fondo2);
    border-bottom: 1px solid var(--fondo2);
}
.producto-opcion {
    margin: 10px 0;
}
.producto-opcion-contenido {
    gap: 5px;
}
.producto-opcion-titulo {
    margin: 10px 0;
}
.producto-opcion-color {
    height: 20px; width: 20px;
    border-radius: 10px;
    border: 1px solid var(--fondo2);
}
.producto-opcion-color:hover, .producto-opcion-boton-tamano:hover {
    box-shadow: 0 2px 6px var(--fondo2);
    cursor:pointer;
}
.producto-opcion-boton-tamano {
    width: 50px;
    text-align: center;
    padding: 6px 12px;
    border: 1px solid var(--fondo2);
}
.producto-botones {
    align-items: center;
    gap: 10px;
}
.agregar-carro {
    font-weight: 500;
}
.agregar-favorito {
    height: fit-content;
    width: fit-content;
    border: none;
    border-radius: 100px;
    color: var(--boton2);
    background:none;
    font-size: 24px;
}
.agregar-favorito:hover {
    color: var(--boton1);
}
.producto-nav {
    background-color: var(--fondo1);
    align-items: center;
}
.producto-nav-items {
    max-width: 1040px;
    margin: auto;
    list-style-type: none;
    justify-content: space-evenly;
}
.producto-nav-items li {
    width: 33%;
    text-align: center;
    padding: 10px 0;
    cursor: default;
}
.producto-nav-items li:hover {
    background-color: var(--fondo2);
}
.producto-secciones {
    margin: 10px auto;
    max-width: 1040px;
}
.producto-secciones section {
    margin: auto;
    padding: 25px 15px;
}
.producto-secciones section:nth-child(even) {
    border-top: 1px solid var(--fondo2);
    border-bottom: 1px solid var(--fondo2);
}
.producto-descripcion {
    font-size: 18px;
}
.producto-caract-lista {
    margin: 0;
}
/*Página Sobre Nosotros*/
.contacto {
    padding: 25px 0;
    background: var(--fondo2);
}
.header-pagina {
    display: flex;
    height: 150px;
    background-color: var(--fondo3);
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.textarea{
    min-height: 50px;
    max-height: 100px;
    display: flex;
    place-items: center;
    justify-content: center;
    padding: 50px;
    padding-left: 200px;
    padding-right: 200px;
    margin: 30px;
    margin-bottom: 30px;
    align-items: center;
    text-align: center;
}
.social{
    display: flex;
    place-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    margin-bottom: 30px;
    align-items: center;

}
.textarea2{
    min-height: 50px;
    max-height: 100px;
    font-size: medium;
    width: 400px;
    display: flex;
    place-items: left;
    justify-content: left;
    padding: 50px;
    padding-left: 20px;
    margin: 0px;
    margin-left: 100px;
    align-items: center;
    text-align: center;
}
.img-redess{
    height: 40px;

}
.img-about{
    height: 40px;
}
ul.about {
    min-height: 50px;
    max-height: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    place-items: center;
    bottom: unset;
    justify-content: center;
    padding: 30px;
    margin: 30px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    list-style-type: none;
    gap: 50px;
    background-color: #b3b3b3;

}
    

.contacto-content {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin: auto;
    gap: 50px;
    padding: 25px 50px;
}
.texto-descripcion {
    width: 800px;
    padding: 50px 0;
    margin: auto;
}
.ubicacion {
    margin: auto;
}
.gmaps-img {
    height: 300px;
    border: 2px solid white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.10);
    border-radius: 4px;
    margin-bottom: 25px;
}
.contacto-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 600px;
    margin: auto;
    padding: 16px;
    gap: 12px;
    background: var(--tarjeta);
    border-radius: 8px;
}
.contacto-form label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.contacto-form input, 
.contacto-form select {
    height: 32px;
    padding: 6px;
    font-size: 14px;
}
.contacto-form textarea {
    height: 100px;
    padding: 6px 8px;
    margin-top: 10px;
    font-size: 16px;
}
.contacto-form input, .contacto-form select,
.contacto-form textarea {
    border-radius: 4px;
    border: none;
}
.checkbox-texto {
    padding: 0 10px;
    font-size: 14px;
}
.checkbox-label {
    place-items: center;
    margin: auto;
}
#enviar {
    margin: auto;
    height: fit-content;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background: var(--boton1);
}
.redes-contacto {
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    align-items: center;
}
.redes-links i {
    text-align: center;
    font-size: 36px;
    margin: 0 15px;
    transition: 0.2s ease;
}
.redes-links i:hover {
    color: #414141;
}
.redes-links i:active {
    color: #b3b3b3;
}

@media screen and (max-width: 992px) {
    .contacto-content {
        flex-direction: column;
        justify-content: center;
        padding: 25px 10px;
    }
    .texto-descripcion {
        width: 90%;
        padding: 25px 0;
    }
    .gmaps-img {
        height: 400px;
    }
    .contacto-form {
        width: 90%;
    }
    input[type="checkbox"] {
        transform: scale(1.5);
    }
}